@model Book

@{
    ViewData["Title"] = @Model.Title;
}

<h1>@Model.Title</h1>
<p><b>@Model.Author</b></p>
<p>@Model.Description</p>
<p>Price <b>@Model.Price</b></p>
<form action="@Url.Action("Add", "Cart")" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button class="btn btn-outline-success" type="submit">To cart</button>
</form>